mat-form-field{
    padding-top: 5px;
    width: 100%;
}

.product-freshness{
    padding-top: 15px;
    margin: 0;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 0px;
  }

  .save-button{
    margin-left: 8px;
  }
